.header {
    position: fixed;
} 
 
 .bloc-welcome {
    background-color: $iceberg;
 }

 .bloc-presentation {
    background-color: $white;
 }

 .bloc-concept {
    background-color: $azalea;

 }

 .bloc-engagement {
    background-color: $snow-flurry;
 }

 .bloc-telechargement {
    background-color: $iceberg;
 }